# Fichiers système
.DS_Store
Thumbs.db

# Node.js et compilations éventuelles
node_modules/
*.log
*.tmp

# Précompilations CSS/JS si nécessaires
*.map
dist/
style.css

package-lock.json
package.json

# Page avec liens image 
parts/partenaires.html
parts/footer.html
parts/header.html