.container {
  max-width: 1440px;
  margin-inline: auto;
}

html,
body {
  height: 100%;
}

.wp-site-blocks {
  min-height: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

.template-lecture-article .lecture-article-containeur {
  padding: 35px 40px;
}
.template-lecture-article .auteurs-article-containeur {
  display: flex;
  align-items: center;
  gap: 5px;
  margin: 0;
  padding-left: 20px;
}
.template-lecture-article .auteurs-article-containeur p {
  margin: 0;
}
.template-lecture-article .article-title {
  font-family: Libre Bodoni;
  font-size: 48px;
  font-weight: 400;
}
.template-lecture-article .resume-article {
  padding: 40px 0;
}
.template-lecture-article .resume-article-titre, .template-lecture-article .texte-titre {
  font-family: Libre Bodoni;
  font-size: 40px;
  font-weight: 400;
}
.template-lecture-article .auteurs-article {
  margin: 0;
}
.template-lecture-article .lecture-article-retour {
  display: flex;
  align-items: center;
  gap: 10px;
  padding-bottom: 30px;
}
.template-lecture-article .conteneur-btn {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  align-items: center;
}

.floating-share-button {
  display: flex;
  justify-content: flex-end;
  bottom: 30px;
  right: 30px;
  z-index: 999;
}

.share-toggle {
  width: 40px;
  height: 40px;
  background-color: #478245;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease;
  padding: 10px;
  border: none;
}

.share-toggle:hover {
  transform: translateY(-2px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

.share-buttons {
  display: flex;
  align-items: center;
  gap: 10px;
  opacity: 0;
  visibility: hidden;
  transform: translateY(10px);
  transition: all 0.3s ease;
  padding-right: 10px;
}

/* Afficher les boutons au survol ou au clic */
.floating-share-button:hover .share-buttons,
.floating-share-button.active .share-buttons {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.share-button {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  transition: all 0.3s ease;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.share-button:hover {
  transform: scale(1.1);
}

.share-button svg {
  width: 20px;
  height: 20px;
  fill: white;
}

.facebook {
  background-color: #3b5998;
}

.x {
  background-color: #000000;
}

.linkedin {
  background-color: #0077b5;
}

.whatsapp {
  background-color: #25d366;
}

.messenger {
  background-color: #0084ff;
}

.email {
  background-color: #777;
}

/* Styles pour l'outil de citation */
.citation-tool-container {
  margin: 20px 0;
}

.citation-tool-container {
  margin: 20px 0;
}

.citation-button {
  background-color: #478245;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease;
  padding: 10px;
  width: 60px;
  height: 60px;
  border: none;
}
.citation-button:hover {
  transform: translateY(-2px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

/* Modale */
.citation-modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1000;
}

.citation-modal-content {
  background-color: #fff;
  max-width: 800px;
  width: 90%;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  max-height: 90vh;
  overflow-y: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.citation-modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
  background-color: #3a5a40;
  color: #fff;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.citation-modal-header h2 {
  margin: 0;
  font-size: 24px;
}

.citation-close {
  font-size: 30px;
  font-weight: bold;
  cursor: pointer;
  color: #fff;
}

.citation-modal-body {
  padding: 20px;
}

.citation-format {
  margin-bottom: 20px;
}

.citation-format h4 {
  margin-bottom: 5px;
  font-size: 18px;
}

.citation-text {
  background-color: #f9f9f9;
  padding: 10px;
  border-left: 3px solid #007bff;
  font-size: 14px;
  margin: 5px 0;
}

.citation-divider {
  border: 0;
  border-top: 1px solid #eee;
  margin: 20px 0;
}

.citation-export-buttons {
  display: flex;
  gap: 15px;
  margin: 15px 0;
}

.citation-export-button {
  display: inline-block;
  padding: 10px 30px;
  border: 1px solid #ddd;
  color: #ff5555;
  text-decoration: none;
  font-weight: bold;
  transition: all 0.3s ease;
}

.citation-export-button:hover {
  background-color: #f5f5f5;
}

.citation-format-description {
  font-size: 14px;
  color: #666;
  margin-top: 15px;
}

.format-desc {
  margin-bottom: 10px;
  display: none;
}

.format-desc.active {
  display: block;
}

.section-partenaires .partenaire-galerie-container {
  display: flex;
  justify-content: center;
  padding-top: 20px;
}
.section-partenaires .partenaire-galerie-container .galerie-partenaires {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}
@media (min-width: 900px) {
  .section-partenaires .partenaire-galerie-container .galerie-partenaires {
    gap: 0;
  }
}
.section-partenaires .partenaire-galerie-container .galerie-partenaires img {
  border: none !important;
  width: fit-content !important;
}
.section-partenaires .wp-block-gallery.has-nested-images:not(.is-cropped) figure.wp-block-image:not(#individual-image) {
  margin-bottom: 0;
}
.section-partenaires .wp-block-gallery.has-nested-images figure.wp-block-image {
  align-items: center;
}

.template-auteurs {
  display: flex;
  justify-content: center;
}
.template-auteurs .auteurs-container {
  padding: 35px 40px;
  max-width: 1440px;
}
.template-auteurs .auteurs-container .pr-accordeon {
  padding-top: 50px;
}

.recherche {
  display: flex;
  justify-content: center;
  margin-top: 60px;
}

.recherche-auteurs-container {
  margin: 20px 0;
  width: 600px;
  background: #3a5a40;
  border-radius: 8px;
  padding: 30px;
}
.recherche-auteurs-container h3 {
  color: #fff;
  margin-top: 0;
}

.recherche-auteur-input {
  width: 100%;
  padding: 10px;
  border: 1px solid #3a5a40;
  border-radius: 4px;
  font-size: 16px;
  border-color: #92d16e;
  border-width: 4px;
}

.recherche-auteur-input:focus {
  outline: none;
  box-shadow: 0 0 5px rgba(0, 124, 186, 0.2);
}

.container-input {
  display: flex;
  justify-content: center;
}

.search-input-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
}

.recherche-auteur-input {
  width: 100%;
  padding-right: 30px;
}

.search-icon {
  position: absolute;
  right: 20px;
  color: #3a5a40;
  pointer-events: none;
}

.template-404 .conteneur-404 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 100px;
}
.template-404 .conteneur-404 .titre {
  font-size: 70px;
}
.template-404 .conteneur-404 .phrase {
  font-size: 20px;
  font-family: "Raleway";
}

.template-a-propos p, .template-a-propos li {
  font-family: Raleway;
}
.template-a-propos h1, .template-a-propos h2, .template-a-propos h3 {
  font-family: Libre Bodoni;
  font-weight: 400;
}
.template-a-propos h1 {
  font-size: 48px;
}
.template-a-propos h2 {
  font-size: 40px;
}
.template-a-propos h3 {
  font-size: 21px;
}
.template-a-propos section {
  padding: 60px 30px;
  margin-top: 0;
}
.template-a-propos .section-repondre-defis-container {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.template-a-propos .texte-container {
  max-width: 1000px;
}
.template-a-propos .img-container {
  display: flex;
  justify-content: center;
  min-width: 326px;
}

.section-equipes-container {
  width: 100%;
}

.section-origine-container, .section-comite-container, .section-repondre-defis-container, .section-partenaires-container, .section-equipes-container {
  max-width: 1440px;
}
@media (min-width: 1600px) {
  .section-origine-container, .section-comite-container, .section-repondre-defis-container, .section-partenaires-container, .section-equipes-container {
    width: 1440px;
  }
}

.section-partenaires-container h2 {
  margin-top: 0;
}

.section-partenaires {
  padding-top: 0 !important;
}

.section-origine, .section-comite, .section-repondre-defis, .section-partenaires, .section-equipes {
  display: flex;
  justify-content: center;
}

.section-origine .img-container .wp-block-image {
  display: flex;
  justify-content: center;
}
.section-origine .img-container .wp-block-image img {
  width: 350px;
  height: 350px;
  object-fit: cover;
}

.section-comite {
  background: #a3b18a;
}
.section-comite .pr-carte-container {
  padding-top: 60px;
}

.section-repondre-defis {
  grid-area: defis;
  background: #344e41;
  color: #fff;
}
.section-repondre-defis img {
  width: 326px;
  height: 326px;
  object-fit: cover;
}

.mentorat-articles-containeur {
  gap: 30px;
}

.wp-block-template-part {
  margin-top: 0;
}

.a-propos-equipes .has-global-padding.is-layout-constrained.wp-block-group-is-layout-constrained, .a-propos-equipes .pr-accordeon, .a-propos-equipes .wp-block-heading {
  max-width: none;
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.pr-hero {
  width: 100%;
  aspect-ratio: 3.5;
  background-image: url("http://localhost/prochaine-revue/wp-content/uploads/2025/01/hero-pr-1.webp");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  display: flex;
  align-items: end;
  justify-content: center;
  padding: 16px;
}
.pr-hero-titre {
  background: #3a5a40;
  color: #fff;
  border: 3px solid #92d16e;
  padding: 8px 16px;
  border-radius: 8px;
}

.pr-section-mentorat-image img {
  border: 3px solid #478245;
  border-radius: 16px;
  width: 100%;
}

.header-top {
  background-color: #3a5a40;
  padding: 5px 16px;
}
.header-top-wrapper {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
.header-top .wp-block-site-title {
  color: #fff;
  font-family: Libre Bodoni;
  font-size: 28px;
  display: none;
}
@media (min-width: 600px) {
  .header-top .wp-block-site-title {
    display: block;
  }
}
.header-top a {
  text-decoration: none;
}
.header-top .logo {
  max-width: 53px;
}
.header-bottom {
  background-color: #a3b18a;
  padding: 0 16px;
}
.header-bottom .wp-block-navigation-item {
  padding: 10px 0;
  position: relative;
}
.header-bottom .wp-block-navigation-item a[aria-current=page]::after {
  content: "";
  background-color: #478245;
  position: absolute;
  height: 16px;
  bottom: -8px;
  left: -8px;
  right: -8px;
}
.header-bottom .wp-block-navigation-item:hover::after {
  content: "";
  background-color: #92d16e;
  position: absolute;
  height: 16px;
  bottom: -8px;
  left: -8px;
  right: -8px;
}
.header-bottom .wp-block-pages-list__item__link {
  font-weight: bold;
  font-family: "Raleway";
}
.header-bottom .wp-block-pages-list__item__link:hover {
  position: relative;
}
.header-bottom .wp-block-pages-list__item__link:hover::before {
  content: "";
  position: absolute;
  bottom: -5px;
  width: 100%;
  height: 10px;
}

.nav-mobile {
  display: block;
  margin-top: 0;
}
.nav-mobile .wp-block-navigation__responsive-container-open svg {
  fill: #fff;
}
.nav-mobile .has-modal-open {
  background-color: #a3b18a !important;
}
.nav-mobile .has-modal-open .wp-block-navigation-link {
  font-size: 32px;
}
.nav-mobile .wp-block-navigation__responsive-dialog {
  margin-top: 0;
}
.nav-mobile .wp-block-navigation-link {
  color: #000;
}
@media (min-width: 600px) {
  .nav-mobile {
    display: none;
  }
}
.nav-desktop {
  display: none;
}
@media (min-width: 600px) {
  .nav-desktop {
    display: block;
  }
}

.footer {
  color: #fff;
  padding: 10px;
  margin-bottom: 0;
  justify-content: center;
  background: #3a5a40;
}
.footer .column-footer {
  max-width: 1440px;
}
.footer .wrapper-footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1440px;
}
.footer .wp-block-paragraph {
  font-weight: bold;
  font-family: "Raleway";
  font-size: 18px;
}
.footer .wp-block-image {
  margin-top: 0;
}
.footer .wrapper-reseaux-sociaux {
  margin-top: 15px;
}
.footer .lien-haut-page {
  color: #fff;
  display: flex;
  align-items: center;
}
@media (min-width: 510px) {
  .footer .lien-haut-page {
    flex-direction: column-reverse;
  }
}
.footer .lien-haut-page .fleche {
  margin-top: 0;
}
@media (min-width: 510px) {
  .footer .lien-haut-page .fleche {
    padding-bottom: 5px;
  }
}
.footer .wp-block-site-logo.is-default-size img {
  height: 80px;
  width: 80px;
}
.footer .wp-block-social-links {
  margin: 0;
}
.footer .wp-block-social-link {
  background: #fff;
}
.footer .wp-block-social-link svg {
  fill: #000 !important;
}

.is-style-fond-pale a,
.is-style-fond-pale button {
  background-color: transparent;
  border: 3px solid #478245;
}

.is-style-fond-pale a:focus,
.is-style-fond-pale button:focus {
  outline: 3px dashed #478245;
  color: #fff;
  outline-offset: 4px;
}

.is-style-fond-pale a:focus,
.is-style-fond-pale button:focus,
.is-style-fond-pale a:hover,
.is-style-fond-pale button:hover {
  background-color: #478245;
  color: #fff;
}

.wp-element-button {
  height: auto !important;
  border-radius: 8px;
}

.pr-bg-primary {
  background-color: #3a5a40;
  color: #fff;
}

.pr-bg-secondary {
  background-color: #a3b18a;
}

.pr-bg-action-pale {
  background-color: #92d16e;
}

.pr-bg-action-fonce {
  background-color: #478245;
}

.pr-bg-neutral-1 {
  background-color: #6f7b72;
}

.pr-bg-neutral-2 {
  background-color: #344e41;
  color: #fff;
}

.pr-bg-neutral-3 {
  background-color: #dad7cd;
}

.pr-text-white {
  color: #fff;
}

.pr-text-black {
  color: #000;
}

.pr-section {
  padding: 16px 8px;
}
@media (min-width: 768px) {
  .pr-section {
    padding: 36px 24px;
  }
}

.pr-container {
  max-width: 1440px;
  margin-inline: auto;
}

.pr-display-none {
  display: none;
}

.pr-large {
  font-size: pxToRem(18);
}

.pr-bold {
  font-weight: bold;
}

.pr-center {
  text-align: center;
}

.pr-h3-style {
  /* Copie les styles de vos h3 existants */
  font-size: var(--wp--preset--font-size--h3, 1.5rem);
  font-weight: var(--wp--preset--font-weight--h3, 600);
  line-height: var(--wp--preset--line-height--h3, 1.3);
  margin: var(--wp--preset--spacing--h3, 1rem 0);
}

.pr-mi-auto {
  margin-inline: auto;
}

.pr-mt-0 {
  margin-top: 0;
}

.pr-mt-8 {
  margin-top: 8px;
}

.pr-mt-16 {
  margin-top: 16px;
}

.pr-mt-24 {
  margin-top: 24px;
}

.pr-mt-32 {
  margin-top: 32px;
}

.pr-mt-40 {
  margin-top: 40px;
}

.pr-mb-0 {
  margin-bottom: 0;
}

.pr-mb-8 {
  margin-bottom: 8px;
}

.pr-mb-16 {
  margin-bottom: 16px;
}

.pr-mb-24 {
  margin-bottom: 24px;
}

.pr-mb-32 {
  margin-bottom: 32px;
}

.pr-mb-40 {
  margin-bottom: 40px;
}

.pr-ml-0 {
  margin-left: 0;
}

.pr-ml-8 {
  margin-left: 8px;
}

.pr-ml-16 {
  margin-left: 16px;
}

.pr-ml-24 {
  margin-left: 24px;
}

.pr-ml-32 {
  margin-left: 32px;
}

.pr-ml-40 {
  margin-left: 40px;
}

.pr-mr-0 {
  margin-right: 0;
}

.pr-mr-8 {
  margin-right: 8px;
}

.pr-mr-16 {
  margin-right: 16px;
}

.pr-mr-24 {
  margin-right: 24px;
}

.pr-mr-32 {
  margin-right: 32px;
}

.pr-mr-40 {
  margin-right: 40px;
}

.pr-pt-0 {
  padding-top: 0;
}

.pr-pt-8 {
  padding-top: 8px;
}

.pr-pt-16 {
  padding-top: 16px;
}

.pr-pt-24 {
  padding-top: 24px;
}

.pr-pt-32 {
  padding-top: 32px;
}

.pr-pt-40 {
  padding-top: 40px;
}

.pr-pb-0 {
  padding-bottom: 0;
}

.pr-pb-8 {
  padding-bottom: 8px;
}

.pr-pb-16 {
  padding-bottom: 16px;
}

.pr-pb-24 {
  padding-bottom: 24px;
}

.pr-pb-32 {
  padding-bottom: 32px;
}

.pr-pb-40 {
  padding-bottom: 40px;
}

.pr-pl-0 {
  padding-left: 0;
}

.pr-pl-8 {
  padding-left: 8px;
}

.pr-pl-16 {
  padding-left: 16px;
}

.pr-pl-24 {
  padding-left: 24px;
}

.pr-pl-32 {
  padding-left: 32px;
}

.pr-pl-40 {
  padding-left: 40px;
}

.pr-pr-0 {
  padding-right: 0;
}

.pr-pr-8 {
  padding-right: 8px;
}

.pr-pr-16 {
  padding-right: 16px;
}

.pr-pr-24 {
  padding-right: 24px;
}

.pr-pr-32 {
  padding-right: 32px;
}

.pr-pr-40 {
  padding-right: 40px;
}

.pr-flex {
  display: flex;
  gap: 8px;
}
@media (min-width: 768px) {
  .pr-flex-md {
    display: flex;
    gap: 16px;
  }
}
@media (min-width: 1025px) {
  .pr-flex-lg {
    display: flex;
    gap: 24px;
  }
}
.pr-flex-wrap {
  flex-wrap: wrap;
}
.pr-flex-basis-10 {
  flex-basis: 10%;
}
.pr-flex-basis-20 {
  flex-basis: 20%;
}
.pr-flex-basis-30 {
  flex-basis: 30%;
}
.pr-flex-basis-40 {
  flex-basis: 40%;
}
.pr-flex-basis-50 {
  flex-basis: 50%;
}
.pr-flex-basis-60 {
  flex-basis: 60%;
}
.pr-flex-basis-70 {
  flex-basis: 70%;
}
.pr-flex-basis-80 {
  flex-basis: 80%;
}
.pr-flex-basis-90 {
  flex-basis: 90%;
}
.pr-flex-basis-100 {
  flex-basis: 100%;
}

.pr-width-100 {
  width: 100%;
}

/*# sourceMappingURL=style.css.map */
