@use '../variables.scss' as var;

.template-a-propos {

    p, li {
        font-family: Raleway;
    }

    h1, h2, h3 {
        font-family: Libre Bodoni;
        font-weight: 400;
    }

    h1 {
    font-size: 48px;
    }

    h2 {
    font-size: 40px;
    }

    h3 {
    font-size: 21px;
    }

    section {
        padding: 60px 30px;
        margin-top: 0;
    }

	.section-repondre-defis-container {
		display: flex;
		flex-wrap: wrap;
		gap: 30px;
	}


		.texte-container {
			max-width: 1000px;
		}

		.img-container {
			display: flex;
			justify-content: center;
			min-width: 326px;
		}
	}

	.section-equipes-container {
		width: 100%;
	}

    .section-origine-container, .section-comite-container, .section-repondre-defis-container, .section-partenaires-container, .section-equipes-container {
        max-width: 1440px;

		@media (min-width:1600px){
			width: 1440px;
		}
    }

	.section-partenaires-container {
		h2 {
			margin-top: 0;
		}
	}

	.section-partenaires {
		padding-top: 0 !important;
	}

    .section-origine, .section-comite, .section-repondre-defis, .section-partenaires, .section-equipes {
        display: flex;
        justify-content: center;
    }

    .section-origine {
        .img-container .wp-block-image {
            display: flex;
            justify-content: center;

            img { 
                width: 350px;
                height: 412px;
                object-fit: cover;
            }
        }
    }

    .section-comite {
        background: var.$color-secondary;

        .pr-carte-container {
            padding-top: 60px;
        }
    }

    .section-repondre-defis {
        grid-area: defis;
        background: var.$color-neutral-2;
        color: var.$color-white;

		img {
			    width: 326px;
                height: 326px;
                object-fit: cover;
                border-color: var.$color-secondary;
		}
    }

    .mentorat-articles-containeur {
        gap: 30px;
    }

    .wp-block-template-part {
        margin-top: 0;
    }

	.a-propos-equipes {
		.has-global-padding.is-layout-constrained.wp-block-group-is-layout-constrained, .pr-accordeon, .wp-block-heading {
			max-width: none;
			margin-left: 0 !important;
			margin-right: 0 !important;
	}
}
