// BREAKPOINT
$breakpoint-sm: 600px;
$breakpoint-md: 768px;
$breakpoint-lg: 1025px;

// VARIABLES COULEURS
$color-primary: #3a5a40;
$color-secondary: #a3b18a;
$color-action-pale: #92d16e;
$color-action-fonce: #478245;
$color-neutral-1: #6f7b72;
$color-neutral-2: #344e41;
$color-neutral-3: #dad7cd;

$color-white: #fff;
$color-black: #000;
