@use '../variables.scss' as var;

.footer {
    color: var.$color-white;
    padding: 10px;
    margin-bottom: 0;
    justify-content: center;
    background: var.$color-primary;
    
    .column-footer {
        max-width: 1440px;
    }

    
    .wrapper-footer {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        max-width: 1440px;
    }
    
    .wp-block-paragraph {
        font-weight: bold;
        font-family: 'Raleway';
        font-size: 18px;
    }

    .wp-block-image {
        margin-top: 0;
    }

    .wrapper-reseaux-sociaux {
        margin-top: 15px;
    }

    .lien-haut-page {
        color: var.$color-white;
        display: flex;
        align-items: center;

        @media (min-width: 510px) {
			flex-direction: column-reverse;
		}
        

        .fleche {
            margin-top: 0;

            @media (min-width: 510px) {
                padding-bottom: 5px;
            }
        }
    }

    .wp-block-site-logo.is-default-size img {
        height: 80px;
        width: 80px;
    }

    .wp-block-social-links {
        margin-top: 8px;
    }

   .wp-block-social-link {
        background: var.$color-white;

        svg {
            fill: var.$color-black !important;
        }
    }   
    
}