@use '../variables.scss' as var;

.header {
	&-top {
		background-color: var.$color-primary;
	}

	&-bottom {
		background-color: var.$color-secondary;

		.wp-block-pages-list__item {
			font-weight: bold;
			font-family: 'Raleway';
		}
	}
}
