<!-- wp:template-part {"slug":"header","area":"header","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","className":"template-404"} -->
<main class="wp-site-blocks template-404">

    <!-- wp:group -->
    <div class="wp-block-group conteneur-404">
        <!-- wp:heading -->
        <h2 class="wp-block-heading">Page 404</h2>
        <!-- /wp:heading -->

        <!-- wp:html -->
        <span>Page non trouvée</span>
        <!-- /wp:html -->

    </div>
    <!-- /wp:group -->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","area":"footer","tagName":"footer"} /-->