<!-- wp:template-part {"slug":"header","area":"header","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","className":"template-a-propos"} -->
<main class="wp-site-blocks template-a-propos">
	<!-- wp:group -->
	<div class="wp-block-group a-propos-containeur">
		<!-- wp:group {"tagName":"section", "className":"section-origine"} -->
		<section class="wp-block-group section-origine">
			<!-- wp:group -->
			<div class="wp-block-group section-origine-container">
				<!-- wp:columns -->
				<div class="wp-block-columns">
					<!-- wp:column -->
					<div class="wp-block-column">
						<!-- wp:heading -->
						<h1 class="wp-block-heading">À propos</h1>
						<!-- /wp:heading -->

						<!-- wp:shortcode -->
						[my_acf field="p-a-propos"]
						<!-- /wp:shortcode -->
					</div>
					<!-- /wp:column -->

					<!-- wp:column -->
					<div class="wp-block-column">
						<!-- wp:group -->
						<div class="wp-block-group img-container">
							<!-- wp:shortcode -->
							[my_acf field="img-a-propos"]
							<!-- /wp:shortcode -->
						</div>
						<!-- /wp:group -->
					</div>
					<!-- /wp:column -->
				</div>
				<!-- /wp:columns -->

				<!-- wp:column -->
				<div class="wp-block-column">
					<!-- wp:heading -->
					<h2 class="wp-block-heading">Origine du projet</h2>
					<!-- /wp:heading -->

					<!-- wp:shortcode -->
					[my_acf field="p-origine"]
					<!-- /wp:shortcode -->
				</div>
				<!-- /wp:column -->

				<!-- wp:column -->
				<div class="wp-block-column">
					<!-- wp:heading -->
					<h2 class="wp-block-heading">
						Notre mission: démocratiser la recherche et la
						publication
					</h2>
					<!-- /wp:heading -->

					<!-- wp:shortcode -->
					[my_acf field="p-mission"]
					<!-- /wp:shortcode -->
				</div>
				<!-- /wp:column -->

				<!-- wp:column -->
				<div class="wp-block-column">
					<!-- wp:heading -->
					<h2 class="wp-block-heading">Nos valeurs</h2>
					<!-- /wp:heading -->

					<!-- wp:shortcode -->
					[my_acf field="p-valeurs"]
					<!-- /wp:shortcode -->
				</div>
				<!-- /wp:column -->
			</div>
			<!-- /wp:group -->
		</section>
		<!-- /wp:group -->

		<!-- wp:group {"tagName":"section", "className":"section-repondre-defis"} -->
		<section class="wp-block-group section-repondre-defis">
			<!-- wp:group -->
			<div class="wp-block-group section-repondre-defis-container">
				<!-- wp:column -->
				<div class="wp-block-column">
					<!-- wp:group -->
					<div class="wp-block-group img-container">
						<!-- wp:shortcode -->
						[my_acf field="img-repondre-aux-defis"]
						<!-- /wp:shortcode -->
					</div>
					<!-- /wp:group -->
				</div>
				<!-- /wp:column -->

				<!-- wp:column -->
				<div class="wp-block-column texte-container">
					<!-- wp:heading -->
					<h1 class="wp-block-heading">
						Répondre aux défis actuels de la recherche
					</h1>
					<!-- /wp:heading -->

					<!-- wp:shortcode -->
					[my_acf field="p-repondre-aux-defis"]
					<!-- /wp:shortcode -->
				</div>
				<!-- /wp:column -->
			</div>
			<!-- /wp:group -->
		</section>
		<!-- /wp:group -->

		<!-- wp:group {"tagName":"section", "className":"section-comite"} -->
		<section class="wp-block-group section-comite">
			<!-- wp:group -->
			<div class="wp-block-group section-comite-container">
				<h2>Conseil de direction</h2>
				<!-- wp:template-part {"slug":"a-propos-contenu-cartes"} /-->
			</div>
			<!-- /wp:group -->
		</section>
		<!-- /wp:group -->

		<!-- wp:group {"tagName":"section", "className":"section-equipe"} -->
		<section class="wp-block-group section-equipes">
			<!-- wp:group -->
			<div class="wp-block-group section-equipes-container">
				<!-- wp:template-part {"slug":"a-propos-equipes"} /-->
			</div>
			<!-- /wp:group -->
		</section>
		<!-- /wp:group -->

		<!-- wp:template-part {"slug":"partenaires"} /-->
	</div>
	<!-- /wp:group -->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","area":"footer","tagName":"footer"} /-->
