<!-- wp:template-part {"slug":"header","area":"header","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","className":"template-auteurs"} -->
<main class="wp-site-blocks template-auteurs">
    <!-- wp:group -->
    <div class="wp-block-group auteurs-container">
        <h1>Les contributeurs</h1>
		
        <!-- wp:shortcode -->
        [my_acf field="p-auteurs"]
        <!-- /wp:shortcode -->
        
<!-- wp:group -->
<div class="wp-block-group recherche">
    <!-- wp:group -->
    <div class="wp-block-group recherche-auteurs-container">
        <!-- wp:group -->
        <div class="bloc-recherche-auteurs">
            <h3 class="wp-block-heading">Recherche un auteur</h3>
            <!-- wp:group -->
            <div class="wp-block-group container-input">
                <!-- wp:html -->
                <div class="search-input-wrapper">
                    <input
                        type="text"
                        id="recherche-auteurs"
                        placeholder="Rechercher un auteur..."
                        class="recherche-auteur-input"
                    >
                    <svg class="search-icon" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                        <circle cx="11" cy="11" r="8"></circle>
                        <line x1="21" y1="21" x2="16.65" y2="16.65"></line>
                    </svg>
                </div>
                <!-- /wp:html -->
            </div>
            <!-- /wp:group -->
        </div>
        <!-- /wp:group -->
    </div>
    <!-- /wp:group -->
</div>
<!-- /wp:group -->
            
        <!-- wp:template-part {"slug":"auteurs-liste"} /-->
		
    </div>
    <!-- /wp:group -->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","area":"footer","tagName":"footer"} /-->
