<!-- wp:template-part {"slug":"header","area":"header","tagName":"header"} /-->
<!-- wp:group {"tagName":"main","className":"template-single-pr-article"} -->
<main
	class="wp-site-blocks template-single-pr-article template-lecture-article"
>
	<!-- wp:group {"layout":{"type":"constrained"}} -->
	<div class="wp-block-group lecture-article-containeur">
		<!-- wp:paragraph -->
		<p>
			<a
				class="lecture-article-retour"
				href="/prochaine-revue/articles/"
				data-type="page"
				data-id="45"
			>
				<svg
					xmlns="http://www.w3.org/2000/svg"
					xmlns:xlink="http://www.w3.org/1999/xlink"
					width="30"
					height="30"
					viewBox="0 0 30 30"
					fill="none"
				>
					<rect
						width="30"
						height="30"
						fill="url(#pattern0_64_1583)"
					/>
					<defs>
						<pattern
							id="pattern0_64_1583"
							patternContentUnits="objectBoundingBox"
							width="1"
							height="1"
						>
							<use
								xlink:href="#image0_64_1583"
								transform="scale(0.0333333)"
							/>
						</pattern>
						<image
							id="image0_64_1583"
							width="30"
							height="30"
							xlink:href="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAYAAAA7MK6iAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAwUlEQVR4nO3WwQoCIRAGYB+nQ522Y52a+V3poZZxe9Itiu0lCiMiugiOq7DtD3NS+VBG0ZglfxcrdITwxXp+5Ch4OrOwi8JhYi70U0JDfMe50XeZmcA0wqNpe9oVhGnkjtdhDZ1oWwSG0N152oT56LCC59vkMBJQNZyKqmANqoM9mjAeGio0VrHrhGqw/By10LUIbJW40cAa3GjhVNzkgKs9mfYLf6Fi94VhLtPVdkoYtb4+LOyy4kID+kMbhZfMLk/qMKsvQMlODAAAAABJRU5ErkJggg=="
						/>
					</defs>
				</svg>
				Retour vers la recherche
			</a>
		</p>
		<!-- /wp:paragraph -->

		<!-- wp:post-title {"level":1,"className":"article-title"} /-->

		<!-- wp:custom-article/auteurs /-->

		<!-- wp:heading {"level":2} -->
		<h2 class="resume-article-titre">Résumé</h2>
		<!-- /wp:heading -->

		<!-- wp:custom-article/description /-->

		<!-- wp:columns {"verticalAlignment":"top"} -->
		<div class="wp-block-columns are-vertically-aligned-top">
			<!-- wp:column {"verticalAlignment":"top","width":"66.66%"} -->
			<div
				class="wp-block-column is-vertically-aligned-top"
				style="flex-basis: 66.66%"
			>
				<!-- wp:group {"className":"pdf-viewer"} -->
				<div class="wp-block-group pdf-viewer">
					<!-- wp:heading -->
					<h2 class="texte-titre">Texte intégral (PDF)</h2>
					<!-- /wp:heading -->
					<!-- wp:shortcode -->
					[my_acf field="article_pdf"]
					<!-- /wp:shortcode -->
				</div>
				<!-- /wp:group -->
			</div>
			<!-- /wp:column -->

			<!-- wp:column {"verticalAlignment":"top","width":"33.33%"} -->
			<div
				class="wp-block-column is-vertically-aligned-top"
				style="flex-basis: 33.33%"
			>
				<!-- wp:group {"className":"block-metas","layout":{"type":"flex","orientation":"vertical"}} -->
				<div class="wp-block-group block-metas">
					<!-- wp:custom-article/type /-->
					<!-- wp:custom-article/infos-publication /-->
					<!-- wp:custom-article/disciplines /-->
					<!-- wp:custom-article/mots-cles /-->
					<!-- wp:custom-article/droits-auteur /-->
				</div>
				<!-- /wp:group -->
			</div>
			<!-- /wp:column -->
		</div>
		<!-- /wp:columns -->

		<!-- wp:group {"className":"conteneur-btn"} -->
		<div class="wp-block-group conteneur-btn">
			<!-- wp:shortcode -->
			[floating_share]
			<!-- /wp:shortcode -->
			<!-- wp:shortcode -->
			[citation_tool]
			<!-- /wp:shortcode -->
		</div>
		<!-- /wp:group -->
	</div>
	<!-- /wp:group -->
</main>
<!-- /wp:group -->
<!-- wp:template-part {"slug":"footer","area":"footer","tagName":"footer"} /-->
